EDTVelizyWebHook/doc/* linguist-documentation
EDTVelizyWebHook/doc/index-files/* linguist-documentation
EDTVelizyWebHook/doc/launcher/* linguist-documentation
EDTVelizyWebHook/doc/modeles/* linguist-documentation
EDTVelizyWebHook/doc/utils/* linguist-documentation
EDTVelizyWebHook/doc/workers/* linguist-documentation
